<div id="<%= dom_id vote %>" class=" border-b-2 border-black pb-3">
  <div class="flex justify-around items center">
    <p class="my-5">
      <strong class="block font-medium mb-1">Id:</strong>
      <%= vote.id %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Bill:</strong>
      <%= vote.bill_id %>
    </p>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this vote",
    vote,
    class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this vote",
    edit_vote_path(vote),
    class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
