<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Vote results</h1>
    <%= form_with url: import_vote_results_path, method: :post do |form|  %>
      <%= form.file_field :file, accept: ".csv" %>
      <%= form.button "import vote results" %>
    <% end %>
  </div>

  <div id="vote_results" class="min-w-full">
    <%= render @vote_results %>
  </div>
</div>
